
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && exists(/databases/$(database)/documents/roles_admin/$(request.auth.uid));
    }

    match /roles_admin/{adminUid} {
      allow get: if isSignedIn() && (request.auth.uid == adminUid || isAdmin());
      allow list, create, update, delete: if isAdmin();
    }

    match /dailyMealRatings/{ratingId} {
      allow get, list: if isAdmin();
      allow create: if isSignedIn() && request.resource.data.id == ratingId;
      allow update, delete: if isAdmin();
    }

    match /mealFeedbacks/{feedbackId} {
      allow get, list: if isAdmin();
      allow create: if isSignedIn() && request.resource.data.id == feedbackId;
      allow update, delete: if isAdmin();
    }
  }
}
