@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 20% 10%;
    --card: 0 0% 100%;
    --card-foreground: 210 20% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 20% 10%;
    --primary: 119 48% 41%; /* #379936 - Verde IFCE */
    --primary-foreground: 0 0% 100%;
    --secondary: 180 80% 45%;
    --secondary-foreground: 180 10% 98%;
    --muted: 210 10% 96%;
    --muted-foreground: 210 10% 40%;
    --accent: 180 80% 45%;
    --accent-foreground: 180 10% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 15% 90%;
    --input: 210 15% 90%;
    --ring: 119 48% 41%;
    --radius: 1rem;
    --chart-1: 0 84% 60%;
    --chart-2: 30 100% 50%;
    --chart-3: 50 100% 50%;
    --chart-4: 100 80% 45%;
    --chart-5: 180 80% 45%;
  }

  .dark {
    --background: 210 20% 10%;
    --foreground: 210 10% 98%;
    --card: 210 20% 12%;
    --card-foreground: 210 10% 98%;
    --popover: 210 20% 12%;
    --popover-foreground: 210 10% 98%;
    --primary: 119 48% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 180 80% 45%;
    --secondary-foreground: 180 10% 98%;
    --muted: 210 15% 20%;
    --muted-foreground: 210 10% 70%;
    --accent: 180 80% 45%;
    --accent-foreground: 180 10% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 10% 98%;
    --border: 210 15% 20%;
    --input: 210 15% 20%;
    --ring: 119 48% 41%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
}